#rojo {
    height:18em;
    border-radius: 0px 200px 0px 0px;
    background-color:rgb(255, 0, 0);
    opacity:0.6;
}

#verde {
    height:18em;
    border-radius:  200px 0px 0px 0px;
    background-color:rgb(1, 138, 1);
    opacity:0.6;
}

#amarillo {
    height:18em;  
    border-radius: 0px 0px 0px 200px;
    background-color:rgb(247, 247, 0);
    opacity:0.6;
}

#azul {
    height:18em;
    border-radius: 0px 0px 200px 0px;
    background-color:rgb(0, 89, 255);
    opacity:0.6;
}

#ready {
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    margin-left:50em;
    position: relative;
}

#movimientos{
    margin-left: 56em;
}

#simon{
    margin-top: 2em;
    
}

#simon div:hover {
    border:5px solid #000;
    cursor:pointer;
}

.encender {opacity:1!important;}

#verde:active {opacity:1!important;}
#rojo:active {opacity:1!important;}
#amarillo:active {opacity:1!important;}
#azul:active {opacity:1!important;}

#mensaje {
    text-align:center;
    margin-top:20px;
    font-size: x-large;
}

.audios{
    display: none
}

 
